{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ForecastFlow{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- ADD THIS SCRIPT FOR PLOTLY CHARTS -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body class="bg-gray-900 text-gray-200">

    <canvas id="bg-canvas"></canvas>

  {% include "partials/_navbar.html" %}

    <main>
        {% block content %}
        <!-- Page content will be injected here -->
        {% endblock %}
    </main>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}

  {% include "partials/_footer.html" %}
</body>
</html>
